
  <mat-card id="allCard">
    <mat-card-header>
      <h4 (click)="showInfo()">{{country.name}}</h4>
    </mat-card-header>
    <mat-card-content id="content" #info>
      <img src="{{country.flagUrl}}">
        <p>Id: {{country.id}}</p>
        <p>Area: {{country.area}}</p>
        <p>Additional info: {{country.addInfo}}</p>
      <mat-card-actions>
        <table>
          <tr>
            <td><p>Change name: </p></td>
            <td><input type="text" (keydown.enter) = "changeName($event)"></td>
          </tr>
          <tr>
            <td><p>Change area: </p></td>
            <td><input type="text" (keydown.enter)="changeArea($event)"></td>
          </tr>
          <tr>
            <td><p>Change additional info: </p></td>
            <td><input type="text" (keydown.enter)="changeInfo($event)"></td>
          </tr>
        </table>
        <button (click)="hideInfo()">Hide</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

