<div>
  <mat-card>
    <mat-card-header>
      <h4>{{country.name}}</h4>
    </mat-card-header>
    <img src="{{country.flagUrl}}">
    <mat-card-content>
      <p>Id: {{country.id}}</p>
      <p>Area: {{country.area}}</p>
      <p>Additional info: {{country.addInfo}}</p>
    </mat-card-content>
    <mat-card-actions>
      <p>Change name: <input type="text" (keydown.enter) = "changeName($event)"></p>
      <p>Change area: <input type="text" (keydown.enter)="changeArea($event)"></p>
      <p>Change additional Info: <input type="text" (keydown.enter)="changeInfo($event)"></p>
    </mat-card-actions>
  </mat-card>
</div>
